.page-container{
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-color: var(--primary);*/
    /*min-height: 100vh;*/
}

.transaction-details-container{
    display: grid;
    grid-template-rows: auto;
    grid-auto-columns: auto;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    border-radius: 1.25rem;
    background-color: var(--foreground);
    width: min(400px,70%);
    /*padding-top: 1rem;*/
}

.transaction-details-container button{
    padding: .75rem 2rem;

}