
nav{

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem;
}

.buttons--section{

    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.buttons--section a {
    font-size: 1.25rem;
    text-decoration: none;
}

.logo{
    text-decoration: none;
}